<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Create Customer 02</title>
</head>
<body>
	<h2>Enter Customer's Details Here..</h2>
	<form action = "createCustomer"	method="post">
		<table border = '1'>
			<tr>
				<td>Name:</td>
				<td><input type="text" name="name" /></td>
			</tr>
			<tr>
				<td>Email Id:</td>
				<td><input type="text" name="emailid" /></td>
			</tr>
			<tr>
				<td>Contact No:</td>
				<td><input type="number" name="phone_no" /></td>
			</tr>
			<tr>
				<td>City: </td>
				<td><input type="text" name="city" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="Save" /></td>
				<td><input type="reset" value="Reset" /></td>
			</tr>
		</table>
	</form>
	
	<br />	<br />	<br />	<br />
	
	<form action = "logoutServlet"	method="post">
		<input type = "submit"	value = "Logout">
	</form>
	
	
</body>
</html>







