<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>New User</title>
</head>
<body>
	<h2>Create New User 02</h2>
	<form action = "createNewUser"	method="post">
		<table border='1'>
			<tr>
				<td>Email Id:</td>
				<td><input type='text' name='emailid'></td>
			</tr>
			<tr>
				<td>Enter Password:</td>
				<td><input type='password' name='password'></td>
			</tr>
			<tr>
				<td>Re-enter Password:</td>
				<td><input type='password' name='password_02'></td>
			</tr>
			<tr>
				<td><input type='submit' value='Sign Up'></td>
				<td><input type='reset' value='Clear'></td>
			</tr>
		</table>
		<br/><br/>
		<a href = "index.html">Back to login page..</a>
		
	</form>
</body>
</html>